body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.image-container {
    position: relative;
    width: 45%; /* Adjust width as needed */
    height: auto;
}

.img1, .img2, .img3, .img4 {
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Top landscape image */
.img1 {
    z-index: 1;
    width: 428px; /* Adjust width to fit container */
    height: 327px; /* Maintain aspect ratio */
    top: 25px;
    left: 20px;
}

/* Top smaller overlapping landscape image */
.img2 {
    z-index: 2;
    width:425px;
    height: 338px;
    top: 0px;
    left: 0px;
}

/* Bottom landscape image */
.img3 {
    z-index: 3;
    width: 366px;
    height: 355px;
    top: 200px;
    left: 165px;
}

/* Bottom bird image */
.img4 {
    z-index: 4;
    width: 367px;
    height: 367px;
    top: 220px;
    left: 185px;
}

.text-container {
    width: 50%;
    padding-left: 220px;
    padding-right: 20px;
    align-self: flex-start;
}

h1 {
    font-size: 2rem;
    color: #4b4b4b;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    color: #4b4b4b;
    line-height: 1.5;
    margin-bottom: 15px;
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #45a049;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Add specific dimensions and spacing here */
  }
  
  .data {
    font-size:auto; /* Adjust font size */
    font-weight: bold;
    /* Add color and other styles */
  }
  
  .labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Add spacing and other styles */
  }
  
  .label {
    font-size:auto; /* Adjust font size */
    /* Add color and other styles */
  }
  